################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/GymSaaS.Backend/.vs

# .NET build outputs (all projects)
GymSaaS.Backend/**/bin/
GymSaaS.Backend/**/obj/
